:root {
  /* SunPy Variables */
  /* Override the default font config */
  --pst-font-family-base: "Source Sans Pro", var(--pst-font-family-base-system);
  --pst-font-size-base: 17px;
  --pst-header-height: 3.5rem;
  --pst-sidebar-font-size: 1em;

  /* DKIST Colors */
  /* These should not be directly used */
  --dst-dkist-logo-blue: rgb(40, 56, 113);
  --dst-dkist-logo-primary-color: rgb(230, 104, 19);
  --dst-dkist-logo-secondary-color: rgb(248, 162, 1);

  /* SunPy Theme Colors */
  /* If you add or change the names of these please update the docs */
  --sst-accent-color-bright: rgb(240,140,73);
  --sst-accent-color-muted: var(--dst-dkist-logo-primary-color);
  --sst-dark-color: var(--dst-dkist-logo-blue);
  --sst-darker-color: rgb(23,33,66);
  --sst-darkest-color: rgb(7,9,19);
  --sst-light-color: rgb(206, 206, 206);
  --sst-lighter-color: rgb(231, 231, 231);
  --sst-lightest-color: rgb(251, 251, 251);
}

html[data-theme="light"] {
}

html[data-theme="dark"] {
  /* Make the footer the same colour as the header */
  --sst-footer-background-color: var(--sst-dark-color);
}
